* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.post {
  display: flex;
  padding: 15px;
  border: 2px solid rgb(101, 36, 192);
  margin-top: 15px;
  margin: 20px 20px 0px 20px;
  flex-direction:column;
  
}
.postBtn{
  display: flex;
}
.fStage{
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  justify-content: space-between;
  
}
.ffStage {
  display: flex;
  flex-direction:column;
  
}

.fsStage {
  display: flex;
  flex-direction:column;

}

.comments{
margin-top: 10px;
/* justify-content: flex-start; */
}

.col{
  margin-top: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid rgb(12, 1, 27);
}



.col span {
  display: block;
}